<div class="container">
    <div class="row align-items-start">
        <div class="col-4 text-center" style="padding-top: 100px;">
                <div class="row align-items-start">
                    <div class="col">
                        <label class="label-select">ORIGEN</label>
                        <select id="form-select" class="form-select" aria-label="Default select example" [(ngModel)]="originSelected" (change)="ruteSelected()">
                            <option selected>Elija Origen</option>
                            <option *ngFor="let item of originAvailable">{{item}}</option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="label-select">DESTINO</label>
                        <select id="form-select" class="form-select" aria-label="Default select example" [(ngModel)]="destinationSelected" (change)="ruteSelected()">
                            <option selected>Elija Destino</option>
                            <option *ngFor="let item of destinationAvailable">{{item}}</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="justify-content: center; align-items: center; padding-top: 20px;">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Numero de Vuelos</span>
                        <input id="flightsNumber" type="number" class="form-control" [(ngModel)]="escales" (change)="ruteSelected()">                       
                    </div>                                        
                </div>
                <div class="row align-items-center" style="justify-content: center; align-items: center;">
                    <div id="btn-rute" class="btn btn-dark" (click)="findRute($event, originSelected, destinationSelected);" onclick="showTo()">Buscar Ruta</div>
                </div>
        </div>
        <div class="col-8" id="Info-Rute">
            <div *ngIf="ruteObtained.length===0">
                <h1 id="Info-welcome">Bienvenido a Travelin</h1>
                <h2 id="Info-welcome2">Elige tu ruta</h2>    
            </div>
            <div id="to" *ngIf="ruteObtained.length>0"><h4>Ruta Ida</h4></div>
            <div id="return"><h4>Ruta Retorno</h4></div>
            <div *ngFor="let item of ruteObtained" id="Info-Rute2">
                <table class="table table-hover" id="table-res">
                    <thead>
                    <tr>                        
                        <th colspan="4" scope="col">
                            <h2>INFORMACIÓN RUTA</h2>                                                        
                        </th>                    
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Origen</th>
                        <td colspan="3">{{item.origin}}</td>                   
                    </tr>
                    <tr>
                        <th scope="row">Destino</th>
                        <td colspan="3">{{item.destination}}</td>                    
                    </tr>
                    <tr>
                        <th scope="row" style="vertical-align: middle;">Vuelos</th>
                        <td colspan="2" style="vertical-align: middle;">Esta ruta tiene {{item.flights.length}} vuelo</td>    
                        <td>    
                            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal" style="text-align: center;">
                                Vuelos
                            </button>                            
                        </td>                    
                    </tr>
                    <tr>
                        <th scope="row">Precio Total</th>
                        <td>{{currencyFormat(item.price, 'USD')}} USD</td>
                        <td>Dolares</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>{{currencyFormat(item.price * 4527.05, 'COP')}}</td>
                        <td>Pesos Colombianos</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>{{currencyFormat(item.price * 0.89, 'EUR')}} EUR</td>
                        <td>Euros</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <div class="row align-items-center" style="justify-content: center; align-items: center;">
                    <div class="btn btn-dark" (click)="findRute($event, destinationSelected, originSelected)" style="max-width: 200px;" onclick="showReturn()">Consultar Retorno</div>
                </div>
            </div>                       
        </div>
    </div>
</div>
<app-modal [rute]="ruteObtained"></app-modal>

        
