#btn-rute{
    max-width: 120px;
}

#flightsNumber{
    width: 30px;
}

#btn-return{
    max-width: 160px;
}

.label-select{
    font-size: x-large;
}

#form-select{
    background-color: #212529;
    color: #fff;
}

#Info-Rute{
    padding-top: 45px;    
}

#Info-welcome{
    padding-top: 80px;
    padding-left: 30%;
}

#Info-welcome2{    
    padding-left: 45%;
}

#return, #to{
    display: none;
    text-align: center;
}

#inputGroup-sizing-sm{
    font-size:16.9px;
}

#table-res{
    max-width: 100px;    
}

@media screen and (max-width: 775px) {
    table, #inputGroup-sizing-sm, 
    button, .label-select,
    #form-select, #btn-rute,
    #btn-return, #footer-text {
      width: 100%;
      font-size: 11.25px;
    }
    #Info-welcome, #Info-welcome2 {
        width: 100%;
        font-size: 19px;
      }
    th, td, span, button, #inputGroup-sizing-sm {
      padding: 8px;
    }
  }