<div class="container">
    <div class="row align-items-start">
        <div class="col-4 text-center" style="padding-top: 100px;">
                <div class="row align-items-start">
                    <div class="col">
                        <label class="label-select">ORIGEN</label>
                        <select id="form-select" class="form-select" aria-label="Default select example" [(ngModel)]="originSelected" (change)="ruteSelected()">
                            <option selected>Elija Origen</option>
                            <option *ngFor="let item of originAvailable">{{item}}</option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="label-select">DESTINO</label>
                        <select id="form-select" class="form-select" aria-label="Default select example" [(ngModel)]="destinationSelected" (change)="ruteSelected()">
                            <option selected>Elija Destino</option>
                            <option *ngFor="let item of destinationAvailable">{{item}}</option>
                        </select>
                    </div>
                </div>
                <div class="row align-items-center" style="justify-content: center; align-items: center; padding-top: 20px;">
                    <div id="btn-rute" class="btn btn-dark" (click)="findRute($event)">Consultar</div>
                </div>
        </div>
        <div class="col-8" id="Info-Rute">                       
            <h2>INFORMACIÓN RUTA</h2>
            <div *ngFor="let item of ruteObtained" id="Info-Rute2">                
                <ul>
                    <li>Origen: {{item.origin}}</li>
                    <li>Destino: {{item.destination}}</li>
                    <li>NRO Vuelo: {{item.flights[0].transport.flightNumber}}</li>
                    <li>Transportista: {{item.flights[0].transport.flightCarrier}}</li>
                    <li>Precio:
                        <ul>
                            <dd>${{item.price}} USD</dd>
                            <dd>${{item.price * 4645}} COP</dd>
                            <dd>Є{{item.price * 0.92}} EUR</dd>
                        </ul>
                    </li>                
                </ul>
            </div>
        </div>
    </div>
</div>
        
