#btn-rute{
    max-width: 100px;
}

#btn-divise{
    max-width: 80px;
}

.label-select{
    font-size: x-large;
}

#form-select{
    background-color: #212529;
    color: #fff;
}

#Info-Rute{
    padding-top: 90px;    
}

#Info-Rute2{
    padding-top: 10px;
    padding-left: 30%;
}

#table-res{
    width: fit-content;
}