#btn-rute{
    max-width: 120px;
}

#flightsNumber{
    width: 30px;
}

#btn-divise{
    max-width: 80px;
}

.label-select{
    font-size: x-large;
}

#form-select{
    background-color: #212529;
    color: #fff;
}

#Info-Rute{
    padding-top: 90px;    
}

#Info-Rute2{
    padding-top: 10px;
    padding-left: 30%;
}

#Info-welcome{
    padding-top: 80px;
    padding-left: 30%;
}

#Info-welcome2{
    padding-top: 10px;
    padding-left: 45%;
}

#table-res{
    width: auto;
}

#return, #to{
    display: none;
    text-align: center;
}