<mat-form-field class="container-selects" appearance="fill">
    <mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile>
            <label class="label-select">ORIGEN</label>
                <select class="select" matNativeControl required>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
        </mat-grid-tile>
        <mat-grid-tile>
            <label class="label-select">DESTINO</label>
                <select class="select" matNativeControl required>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
        </mat-grid-tile>
    </mat-grid-list>
</mat-form-field>